/* COLOR PALETTE */
:root {
    --color-dark: #3D3D3D; /* header-bg, main-fg */
    --color-light: #F0F0F0; /* header-fg, main-bg */
    --color-theme-green: #00892B; /* Breaking Bad Green */
    --color-theme-yellow: #FEDD00; /* Golden Moth Yellow */
}

* {
    box-sizing: border-box;
    transition: .15s ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-family: 'Inter', sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
}

/* header */
header {
    background-color: var(--color-dark);
    text-align: center;
    padding: .25rem;
}

h1 {
    color: var(--color-theme-green);
}

h1 span {
    background-color: var(--color-theme-green);
    color: var(--color-light);
    padding: .25rem;
    border: var(--color-light) .1rem solid;
}

h1 sup {
    font-size: .3rem;
    vertical-align: top;
    margin-left: -0.4rem;
}

/* nav */
nav {
    background-color: var(--color-theme-green);
    text-align: center;
    padding: .5rem;
    line-height: 2;
}

nav a:link,
nav a:visited {
    color: var(--color-light);
    text-decoration: none;
    padding: .5rem;
    margin: 0 2rem;
}

nav a:hover {
    /* text-decoration: underline; */
    font-size: large;
    font-weight: bolder;
    border: var(--color-light) .2rem solid;
}

nav a.active {
    font-size: large;
    font-weight: bolder;
}

/* main */
main {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem;
    /* border: red 2px solid; */
}

/* sections display */
.flexbox-row {
    display: flex;
    flex-direction: row;
}

.data-section {
    width: 50%;
    padding: 0 1rem;
}

.in-one-row {
    width: 100%;
    padding: 0 1rem;
}

.hidden {
    display: none;
}

/* buttons */
.buttons-container {
    text-align: center;
}

.buttons-container button {
    background-color: white;
    color: var(--color-dark);
    font-size: large;
    font-weight: bold;
    padding:.5rem;
    border: var(--color-theme-green) .2rem solid;
    border-radius: 2rem;
    margin: .5rem 1rem;
    width: 10rem;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: var(--color-theme-green);
    color: var(--color-light);
}

/* accounts */
.account {
    background-color: white;
    font-weight: bold;
    padding: .5rem 1rem;
    line-height: 1.5;
    border: var(--color-theme-green) .2rem solid;
    border-radius: .5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    overflow: auto;
}

.account:hover,
.account.active {
    background-color: var(--color-theme-yellow);
    font-size: larger;
    font-weight: bolder;
}

.spending {
    background-color: var(--color-theme-yellow);
    font-size: small;
    font-weight: bold;
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.spending p {
    margin: 0;
}

.spending:hover {
    border: var(--color-theme-green) .2rem solid;
    font-size: larger;
    font-weight: bolder;
}
