/*
COLOR PALETTE
header-bg, main-fg: #3D3D3D
header-fg, main-bg: #F0F0F0
Breaking Bad Green: #00892B
Golden Moth Yellow: #FEDD00 #D5C262
--pear: #b7da23ff;
--mindaro: #d5e976ff;
--dark-moss-green: #637126ff;
*/

* {
    box-sizing: border-box;
    transition: .15s ease-in-out;
}

html,
body {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    font-family: 'Inter', sans-serif;
    background-color: #F0F0F0;
    color: #3D3D3D;
}

header {
    background-color: #3D3D3D;
    padding: .5rem;
}

h1 {
    color: #00892B;
    text-align: center;
}

h1 span {
    background-color: #00892B;
    color: #F0F0F0;
    padding: .2rem;
    border: #F0F0F0 .1rem solid;
}

h1 sup {
    font-size: .3rem;
    vertical-align: top;
    margin-left: -0.4rem;
}

nav {
    background-color: #00892B;
    text-align: center;
    padding: .8rem;
    line-height: 2;
}

nav a:link,
nav a:visited{
    color: #F0F0F0;
    padding: .3rem .5rem;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    /* text-decoration: underline; */
    font-size: large;
    font-weight: bolder;
    border: #F0F0F0 .2rem solid;
}

main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    /* border: red 2px solid; */
}

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.in-one-row {
    width: 100%;
    padding: 0 1rem;
}

.hidden {
    display: none;
}

.in-two-rows {
    display: block;
    width: 50%;
    padding: 0 1rem;
}

.buttons-container {
    text-align: center;
}

.buttons-container button {
    background-color: white;
    color: #3D3D3D;
    font-size: large;
    font-weight: bold;
    padding:.5rem;
    border: #00892B .2rem solid;
    border-radius: 2rem;
    margin: 0 1rem;
    width: 30%;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: #00892B;
    color: #F0F0F0;
}

.account {
    background-color: white;
    font-weight: bold;
    padding: .5rem 1rem;
    border: #00892B .2rem solid;
    border-radius: .5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    overflow: auto;
}

.account:hover {
    background-color: #FEDD00;
    font-size: larger;
    font-weight: bolder;
}

.spending {
    background-color: #FEDD00;
    font-size: small;
    font-weight: bold;
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.spending p {
    padding: 0;
    margin: 0;
}

.spending:hover {
    font-size: medium;
    border: #00892B .2rem solid;
}
